.adminContainer {
  width: 100%;
  height: 90vh;
  max-height: 90vh;
  display: flex;
}

.displayLeft {
  width: 20%;
  height: 100%;
  background-color: #021b2b;
  color: white;
  text-align: center;
  max-height: 90vh;

}

.displayRight {
  width: 80%;
  height: 90vh;
  max-height: 90vh;
}

.menuTitle {
  padding: 20px;
  
}

.userInterface {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.imageContainer {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 8px white;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.userName {
    font-size: 1.5rem;
}

