.archivoContainer {
    width: 100%;
    height: 90vh;
    display: flex;
}

.menuContainer {
    width: 20%;
    height: 100%;
    background-color: #021b2b;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.menuContainer h3 {
    cursor: pointer;
}

.displayRight {
    width: 80%;
    height: 100%;
}

.imagesContainer {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    padding: 30px;
}

.imagesContainer a {
    width: auto;
    height: fit-content;
}

.btnContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}