.menuContainer {
  width: 300px;
  height: 100vh;
  background-color: #2d3142;
  color: white;
  position: fixed;
  right: -500px; /* Fuera de la vista */
  top: 0;
  z-index: 600;
  transition: right 0.6s ease-in-out; /* Solo transiciona la propiedad 'right' */
}

.menuContainer.active {
  right: 0px;
  /* transition: all 0.6s ease-in-out; */
}

.optionsContainer {
  padding-top: 10vh;
  position: relative;
}

.icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.338);
  visibility: hidden;
  z-index: 500;
  transition: all .8s ease;
  opacity: 0;
}

.viewOverlay {
  opacity: 1;
  visibility: visible;
}
